
.section{
    background-color: black;
    color: rgba(30, 215, 96, 1);

}
.logo{
 padding-top: 55px;
  margin-left: 35px;
    display: flex;
}
.logo_title{
    margin-left: 5px;
    font-size: 24px;

}

